[Desktop Entry]
Encoding=UTF-8
Name=BhnCoin
Comment=BhnCore P2P Cryptocurrency
Exec=bhncore-qt %u
Terminal=false
Type=Application
Icon=bhncore128
MimeType=x-scheme-handler/bhncore;
Categories=Office;Finance;
Name[en_US]=bhncore-qt.desktop
