[Unit]
Description=BHN Core's distributed currency daemon
After=network.target

[Service]
User=bhncore
Group=bhncore

Type=forking
PIDFile=/var/lib/bhncored/bhncored.pid

ExecStart=/usr/bin/bhncored -daemon -pid=/var/lib/bhncored/bhncored.pid \
          -conf=/etc/bhncore/bhncore.conf -datadir=/var/lib/bhncored

ExecStop=-/usr/bin/bhncore-cli -conf=/etc/bhncore/bhncore.conf \
         -datadir=/var/lib/bhncored stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
